/*======================
 *    basic rule
 *========================**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
  /* 1rem = 10px */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p,
li,
a,
label {
  font-family: "Urbanist", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  color: var(--para-color);
  line-height: 1.5;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
/*======================
 *    theme
 *========================**/

:root {
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;
  --font-color: #424242;
  --bg-color: #f7fcff;
  --heading-color: #000a19;
  --para-color: #504e4d;
  --hero-color: #003b99;
  --white-color: #fff;
  --btn-hover-bg-color: #003b99;
  --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --footer-bg-color: #040d12;
}

/*======================
 *    layout
 *========================**/
.container {
  max-width: 142rem;
  margin: 0 auto;
  padding: 9.6rem 2.4rem;
}
.grid {
  display: grid;
}
.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid-four--cols {
  grid-template-columns: repeat(4, 1fr);
}

/*======================
 *    module/reusable
 *========================**/

.btn {
  background-color: var(--main-color);
  color: var(--white-color);
  padding: 1.2rem 3.2rem;
  font-family: "Urbanist", sans-serif;
  border-radius: 0.6rem;

  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
  display: inline-block;
}

.section-common-heading {
  font-size: 3.2rem;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "poppins", sans-serif;
}
.section-common-subheading {
  color: var(--heading-color);
  font-family: "poppins", sans-serif;
}
.section-common--title {
  font-size: 2rem;
  font-weight: 600;
  margin: 2.4rem 0 1.2rem 0;
}

.fa-solid {
  font-size: 2.4rem;
  background-color: var(--supporting-color);
  padding: 2.4rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: var(--hero-color);
}
.section-why--choose .container:first-child,
.section-blog .container:first-child,
.section-course .container:first-child,
.section-contact--homepage .container:first-child,
.section-about .container:first-child,
.section-contact .container:first-child {
  padding: 6.4rem 2.4rem 2.4rem 2.4rem;
}

/*======================
 *    states
 *========================**/
.btn:hover {
  background-color: var(--btn-hover-bg-color);
  cursor: pointer;
  box-shadow: var(--btn-box-shadow);
}

/*======= navbar sectiion =======*/
.logo-box {
  border: 0.4rem solid black;
  padding: 0.3rem 0.5rem;
}
.text-highlight,
.text {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 600;
}
.text-highlight {
  color: var(--white-color);
  padding: 0 0.8rem;
}
.text {
  color: rgb(61, 187, 255);
  padding: 0 0.1rem;
  font-weight: 800;
}
.text-highlight {
  background-color: rgb(61, 187, 255);
}
.section-navbar {
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.section-navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 2.4rem;
  height: auto;
}

.section-navbar .navbar ul {
  display: flex;
  gap: 3.2rem;
}
.section-navbar .navbar ul li a {
  text-transform: uppercase;
  font-weight: 800;
  color: var(--heading-color);
  display: inline-block;
  font-size: 1.6rem;
  position: relative;
}
.section-navbar .navbar ul li a::after {
  content: "";
  position: absolute;
  border-bottom: 0.2rem solid var(--main-color);
  bottom: -0.3rem;
  left: 0;
  width: 0;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.section-navbar .navbar ul li a:hover::after {
  width: 100%;
}

.section-navbar .container .navbar-brand img {
  width: 20rem;
  aspect-ratio: 1;
}
/*======= END OF navbar =======*/

/*======= hero section =======*/

main {
  position: relative;
  background-image: linear-gradient(
    to top right,
    #3d86fa,
    #4484fb,
    #679eff,
    #b3d2ff,
    #ebf3fe
  );
}
/* shape divider */
.custom-shape-divider-bottom-1752162874 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1752162874 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 12rem;
}

.custom-shape-divider-bottom-1752162874 .shape-fill {
  fill: #ffffff;
}

.section-hero--image img {
  width: 100%;
  height: auto;
  transform: scalex(-1);
  -webkit-transform: scalex(-1);
  -moz-transform: scalex(-1);
  -ms-transform: scalex(-1);
  -o-transform: scalex(-1);
}
.section-hero .grid {
  align-items: center;
  gap: 6.4rem;
}

.section-hero .grid .hero-subheading {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-size: 1.7rem;
  word-spacing: 0.2rem;
  font-weight: 700;
  color: var(--hero-color);
  line-height: 1.5;
}
.section-hero .grid .hero-heading {
  font-size: 5.7rem;
  font-weight: 900;
  font-family: "jost", sans-serif;
  color: var(--hero-color);
}
.section-hero .grid .hero-para {
  color: var(--white-color);
  margin: 2rem 0 4.2rem 0;

  letter-spacing: 1.3;
  word-spacing: 0.3rem;
}
/*======= Hero section End =======*/

/*======= about section =======*/

.section-about .about-div {
  text-align: center;
}
.section-about .grid {
  gap: 6.4rem;
  p {
    text-align: justify;
  }
}

.section-about img {
  width: 15rem;
  background-color: var(--supporting-color);
  border-radius: 50%;
  padding: 2.4rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.section-about img:hover {
  transform: rotate(360deg);
  scale: 1.2;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  background-color: var(--btn-hover-bg-color);
}

/*======= course section =======*/
.section-course {
  background-color: var(--bg-color);
}
.section-course .grid {
  gap: 3.2rem;
}
.course-div {
  padding: 3.2rem;
}
.section-course .container1 {
  padding: 6.4rem 2.4rem 2.4rem;
}
.section-course .course-div:hover {
  box-shadow: var(--btn-box-shadow);
}

.course-div:nth-child(2) .icon .fa-solid {
  color: #68bf9b;
  background-color: #e7f6ef;
}

.course-div:nth-child(3) .icon .fa-solid {
  color: #ff8b52;
  background-color: #fbebe8;
}

.course-div:nth-child(4) .icon .fa-solid {
  color: #183d3d;
  background-color: #ccf7f7;
}

.course-div:nth-child(5) .icon .fa-solid {
  color: #d988b9;
  background-color: rgb(247, 223, 238);
}

.course-div:nth-child(6) .icon .fa-solid {
  color: #ff9b50;
  background-color: #f6dfce;
}

.course-div:nth-child(7) .icon .fa-solid {
  color: #1450a3;
  background-color: #dce9fa;
}
/*======= course section end =======*/

/*======= Why choose section =======*/

.text-align--right .why-choose--div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  text-align: right;
}

.common-text--highlight {
  width: 6rem;
  aspect-ratio: 1;
  background-color: var(--supporting-color);
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 2.4rem;
  font-weight: 700;
}
.choose-center--div img {
  width: 90%;
  height: auto;
}
.section-why--choose .grid {
  gap: 9.6rem;
}
.why-choose--div {
  margin-top: 3.2rem;
}
.choose-center--div,
figure {
  display: flex;
  justify-content: center;
  align-items: center;
}
.choose-center--div figure {
  position: relative;
}
.choose-center--div figure::after,
.choose-center--div figure::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: var(--main-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 45rem;
  height: 45rem;
  z-index: -1;
}
.choose-center--div figure::before {
  animation: circles 5s linear infinite;
  -webkit-animation: circles 5s linear infinite;
}
@keyframes circles {
  0% {
    background-color: #b3d0ff;
  }
  25% {
    background-color: #80b1ff;
  }
  50% {
    background-color: #4d91ff;
  }
  75% {
    background-color: #99c0ff;
  }
  100% {
    background-color: #3381ff;
  }
}

.choose-center--div figure::after {
  width: 50rem;
  height: 50rem;
  z-index: -2;
  border: 0.5rem solid var(--supporting-color);
  background-color: transparent;
}
/*======= Why choose section end =======*/

/*======= blog section =======*/
.section-blog {
  background-color: var(--bg-color);
}
.section-blog .grid {
  gap: 6.4rem;
}
.section-blog img {
  width: 100%;
  height: auto;
}
.section-blog .section-common--title h3 {
  font-weight: 600;
}
.section-blog .blog-date {
  display: flex;
  justify-content: space-between;
  margin-top: 1.6rem;
  font-size: 1.4rem;
}
.section-blog .blog-date .fa-solid {
  background-color: transparent;
  padding: 0;
}

.section-blog .section-common--title {
  margin-top: 1.8rem;
}
.section-blog .blog {
  box-shadow: var(--btn-box-shadow);
}
.section-blog .blog-content {
  padding: 1.4rem 2.4rem 2.4rem;
}
/*======= blog section end =======*/

/*======= actual content page =======*/
.mb-3 {
  margin-bottom: 3.2rem;
}
label {
  display: block;
  text-transform: capitalize;
}
input,
textarea {
  width: 100%;
  padding: 1.4rem 2.4rem;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  border-radius: 4rem;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem;
}
.contact-content .grid {
  gap: 6.4rem;
}
::placeholder {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

.btn-submit {
  font-size: 1.8rem;
  border: none;
  text-transform: capitalize;
}
.section-contact .grid {
  gap: 6.4rem;
}
input:focus-visible {
  outline: 0.2rem solid var(--heading-color);
}
textarea:focus-visible {
  outline: 0.2rem solid var(--heading-color);
}

/*======= actual content page end =======*/

/*======= contact home section =======*/
.section-contact--homepage {
  width: 60%;
  min-height: 30rem;
  margin: 0 auto;
  box-shadow: var(--btn-box-shadow);
  margin-bottom: 5rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  padding: 0 3.2rem;
  position: relative;
  bottom: -15rem;
  background-color: var(--white-color);
}
.section-contact--homepage .grid {
  align-items: center;
  gap: 6.4rem;
}
.contact-title {
  font-size: 3.8rem;
  line-height: 1.2;
  font-weight: 500;
}
.section-contact--homepage .btn a {
  color: var(--white-color);
}
.contact-content p {
  margin: 1.2rem 0 2.4rem 0;
}
.section-contact--homepage img {
  width: 90%;
  height: auto;
}
.section-contact--homepage .fa-solid {
  padding: 0;
  background-color: var(--white-color);
  color: var(--main-color);
  font-size: 2rem;
  padding: 0.5rem;
}

/*======= contact home section end =======*/

/*======= footer section =======*/
footer {
  background-color: var(--footer-bg-color);
  padding-top: 15rem;
}
footer li{
  margin-top: .5rem;
}
footer * {
  color: var(--white-color);
}
footer .grid {
  text-align: right;
}
.footer-1--div {
  text-align: left;
}
.footer-subheading {
  font-size: 2.2rem;
  font-weight: 700;
}
.footer-1--div p {
  margin: 1rem 0 3.2rem 0;
}
.footer-1--div .social-footer--icons {
  display: flex;
  gap: 2.4rem;
}
.footer-1--div .fa-brands {
  width: 5rem;
  aspect-ratio: 1;
  background-color: var(--supporting-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: var(--btn-hover-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.footer-1--div .fa-brands:hover {
  transform: rotate(360deg);
  background-color: var(--btn-hover-bg-color);
  color: var(--supporting-color);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
footer ul li a:hover {
  color: var(--hero-color);
}
/*======= footer section end =======*/

/*======= scroll bar section =======*/
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--supporting-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--heading-color);
}
/*======= scroll bar section end =======*/

/*======= media queries =======*/
@media (width <= 1400px) {
  html {
    font-size: 56.25%;
  }
  .section-hero img {
    width: 90%;
  }
}

@media (width <= 1220px) {
  html {
    font-size: 54%;
  }
  :is(
      .section-about,
      .section-blog,
      .section-course,
      .section-contact--homepage,
      .section-why--choose
    )
    .grid {
    gap: 6.4rem;
  }
}
@media (width <= 1100px) {
  :is(.section-course, .section-blog) .grid-four--cols {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .section-why--choose {
    .choose-center--div {
      grid-column: 1/2;
      grid-row: 1/2;
      figure::before {
        width: 0;
        height: 0;
        padding: 0;
        background-color: transparent;
      }
      figure::after {
        width: 0;
        height: 0;
        padding: 0;
        background-color: transparent;
      }
    }
  }
}

@media (width <= 998px) {
  .section-hero {
    padding-bottom: 5rem;
    height: auto;
    .grid-two--cols {
      grid-template-columns: 1fr;
      .section-hero--content {
        order: 2;
      }
      .section-hero--image {
        order: 1;
        img {
          width: 50%;
        }
      }
    }
  }
  .section-about .about-div {
    text-align: start;
  }
  footer .grid-four--cols {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    text-align: left;
    .footer-1--div {
      grid-column: 1/-1;
      grid-row: 2/3;
      align-self: end;
      margin-top: 6.4rem;
    }
  }
}

@media (width <= 768px) {
  .grid-two--cols,
  .grid-three--cols {
    grid-template-columns: 1fr;
  }
  .section-navbar .container {
    display: flex;
    flex-direction: column;
    .navbar ul {
      gap: 2.4rem;
    }
    .logo-box {
      margin-bottom: 2.4rem;
    }
  }
  .section-why--choose {
    .grid {
      gap: 0;
    }
    img {
      width: 44%;
    }
    .why-choose--div {
      align-items: start;
      text-align: left;
    }
  }
  .section-hero .grid .hero-heading {
    font-size: 3.8rem;
  }
  .section-contact--homepage .btn {
    display: block;
    text-align: center;
  }

  .contact-title {
    font-size: 2.4rem;
  }
  :is(.section-contact--homepage) .container:first-child {
    padding: 6.4rem 0rem 2.4rem 0rem;
  }
  .section-contact .contact-content .grid {
    gap: 3.2rem;
  }
}

/*======= media queries end=======*/
